/*
bootstrap override theme for doubaone.com
author:hyspace
love emma~
*/
/* Override some defaults */
html, body {
    background-color: #fff;
    background-image:url(../images/bg.png);
    background-position: center 0;
    color: #ccc;
}
.brand{
    position: absolute;
    width: 450px;
    bottom:0;
	height: 32px;
	text-indent: -9999em;
	background: url(../images/bg_title.png) no-repeat;
	background-position: 0 bottom;
}
.page-Home .brand{
	height: 70px;
    width: 620px;
    background-position: 0 top;
}
/*for webkit only*/
@media screen and (-webkit-min-device-pixel-ratio:0) {
    .page-Home .brand{
        background: url(../images/emma.jpg) no-repeat;
        background-position: center top;
        background-color: #333;
        background-attachment:fixed;
        -webkit-mask:url(../images/bg_title.png);
    }
}
.navbar {
    margin-bottom: 0;
}
.navbar .nav{
	margin: 0 -20px;
}
.navbar-inner{
  background:none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  -o-box-shadow: none;
  -ms-box-shadow: none;
  box-shadow: none;
  filter:none;
}
.navbar .nav > li > a:hover,
.navbar .nav .active>a,
.navbar .nav .active>a:hover{
    color:#fff;
    text-decoration:none;
    padding-top: 12px;
    margin-top: 8px;
    background-color: #333;
}
.navbar .nav > li > a{
	padding:20px 20px 22px;
	font-size: 40px;
    background-color: #333;
    -webkit-transition:all 0.5s ease-in-out;
       -moz-transition:all 0.5s ease-in-out;
         -o-transition:all 0.5s ease-in-out;
        -ms-transition:all 0.5s ease-in-out;
            transition:all 0.5s ease-in-out;
}
.navbar .nav{
    background-color: #fff;
    background-image:url(../images/bg.png);
    background-position: 102px -88px;
}
.container{
  width: 620px;
}
footer {
    margin-top: 10px;
    color: #333;
}
footer p {
    text-align: center; /* center align it with the container */
}
footer .copyright{
    background: rgba(255,255,255,0.5);
    border-radius: 5px;
    padding: 0 3px;
}
h1, h2, h3, h4, h5, h6{
	color:#eee;
}
.inner-wrap{
    background-color: #333;
    /*box-shadow: 0 0 0 2px rgba(255,255,255,0.5);*/
}
.outter-wrap{
    padding-top: 48px;
}
.page-Home .outter-wrap{
    padding-top: 240px;
}
/* The white background content wrapper */
.content {
    background-color: #333;
    padding: 20px;
    margin: 0 -20px; /* negative indent the amount of the padding to maintain the grid system */
}
a{
    color: #69c;
}
a:hover{
    color: #08c;
}
/* Page header tweaks */
.page-header {
    background-color: #333;
    padding: 10px 20px;
    margin: -20px -20px 20px;
    border-color: #666;
}

.topbar .btn {
    border: 0;
}
/*article*/
p{
    line-height: 1.8;
}
code {
    background-color: #222;
    border-color: #111;
}
pre{
    background-color: #222;
    border-color: #111;
    color: #eee;
}
hr {
    border-top-color:#444;
    border-bottom-color:#333;
}
h1, h2, h3, h4, h5, h6{
    color:#eee;
}


/* tag_box ======================================================== */

.tag_box {
	list-style:none;
	margin:0;
	padding:5px 0 ;
	overflow:hidden;
}
.tag_box li {
	line-height:28px;
}
.tag_box.inline li {
	float:left;
}
.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color:#005F6B;
	border-radius: 3px;
	text-decoration:none;
}
.tag_box a span{
	vertical-align:super;
	font-size:0.8em;
}
.tag_box a.active {
	background:#57A957;
	border:1px solid #4C964D;
	color:#FFF;
}
	